.header {
    background: url(../img/head.avif) center top;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 660px;
    padding-top: 22px;
    width: 100%;
}

.menu {
    display: flex;

    a {
        height: 60px;
    }

    .logo {
        width: 77px;
        height: auto;
    }

    &-items {
        margin-left: auto;

        .btn-menu {
            display: none;
            width: 36px;
            height: 36px;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            position: fixed;
            z-index: 6;
            user-select: none;

            div {
                width: 100%;
                height: 3px;
                margin-bottom: 10px;
                background-color: black;
                opacity: 0.6;
                margin-left: auto;
                border-radius: 10px;

                &:nth-child(2) {
                    width: 75%;
                }

                &:last-child {
                    width: 50%;
                }
            }
        }
    }

    li {
        text-transform: uppercase;
        list-style: none;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;

        a {
            padding: 0 8.5px 5px 7px;
        }
    }
}

.join {
    margin-top: 77px;

    &-text {
        max-width: 427px;
        border-bottom: 2px solid;
        height: 348.5px;
        margin-bottom: 11.5px;

        h1 {
            animation: tech-text 0.5s ease-in-out forwards;
            font-size: 57px;
            line-height: 70px;
            margin-top: 50px;
        }
    }

    &-team {
        display: flex;
        position: relative;
        left: -60px;
        animation: join-team 1s ease-in-out forwards;
        text-transform: uppercase;

        a {
            margin-right: 20px;
            display: flex;
            padding: 5px;
            transition: 0.3s ease;
        }

        h3 {
            font-size: 19px;
        }
    }
}