@media (max-width: 1620px) {
  .footer-items {
    margin-left: 40%;
  }
  .footer-sub {
    width: 700px;
  }
}
/* Large desktops and laptops */
@media (max-width: 1440px) {
  .menu img {
    width: 57px;
    height: 36px;
  }
  .menu-items li {
    font-size: 18px;
    margin-bottom: 0;
  }

  .first-img {
    margin: 28px auto 70px auto;
    max-width: 200px;
    height: 407px;
  }

  .two-img {
    margin: 32px auto 78px auto;
    max-width: 300px;
    height: 400px;
  }
  .two-img__one {
    margin: 62px auto 48px auto;
    max-width: 320px;
    height: 400px;
  }

  .footer-items {
    margin-left: 30%;
  }
  .footer-sub {
    width: 500px;
  }
}
@media (max-width: 1281px) {
  .footer-items {
    margin-left: 10%;
  }
}
/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
  .chars {
    display: block;
    width: 100%;
  }
  .chars-sub1 {
    width: 100%;
  }
  .chars-sub2 {
    width: 100%;
  }
  .chars-sub3 {
    width: 100%;
  }

  .create-block {
    width: 100%;
  }
}
@media (max-width: 1130px) {
  .footer {
    height: 277px;
  }
  .footer-sub {
    display: block;
    width: 365px;
  }
  .footer-items {
    margin-left: 25%;
  }
}
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .menu ul {
    display: none;
  }
  .menu button {
    display: block;
  }

  .footer {
    height: 277px;
  }
  .footer-email {
    margin-left: 0;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 868px) {
  .footer {
    width: 400px;
  }
  .footer-email {
    position: relative;
    top: 80px;
    right: 150px;
  }
  .footer-items {
    margin-left: 0;
  }
}
@media (max-width: 557px) {
  .join-team {
    display: block;
  }
  .join-team a {
    font-size: 25px;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .menu-items {
    margin-right: 50px;
  }

  .chars-sub1 {
    padding: 58px 0 58px 25px;
    height: auto;
  }
  .chars-sub2 {
    padding: 58px 0 58px 25px;
    height: auto;
  }
  .chars-sub3 {
    padding: 58px 0 58px 25px;
    height: auto;
  }

  .header {
    height: 550px;
    padding: 22px 0 22px 25px;
    width: 100%;
  }

  .join-text {
    height: 300px;
  }
  .join-text h1 {
    font-size: 51px;
  }
  .join .icon-Vector-1 {
    margin: -3px 0 0 7px;
  }
  .join .icon-Vector-1::before {
    font-size: 17px;
  }

  .create {
    padding: 58px 25px;
    height: 550px;
    width: 100%;
  }
  .create p {
    width: 100%;
    margin-bottom: 200px;
  }

  .footer {
    padding: 38px 0 38px 25px;
    width: 300px;
  }

  .first-img {
    margin-top: 50px;
  }

  .two-img {
    margin: 28px 0 78px 30px;
  }
  .two-img__one {
    margin: 62px 0 105px 20px;
  }
}
@media (max-width: 375px) {
  .footer {
    width: 160px;
  }
  .footer p {
    font-size: 19px;
  }
  .footer-email {
    position: relative;
    right: 180px;
  }

  .two-img {
    margin: 28px 0 78px 10px;
  }
  .two-img__one {
    margin: 62px 0 105px 0;
  }
}
@media (max-width: 360px) {
  .create {
    padding: 58px 15px;
  }

  .footer {
    padding: 38px 0 38px 15px;
  }

  .header {
    padding: 22px 0 22px 15px;
  }

  .chars-sub1 {
    padding: 58px 0 58px 15px;
  }
  .chars-sub2 {
    padding: 58px 0 58px 15px;
  }
  .chars-sub3 {
    padding: 58px 0 58px 15px;
  }
}
@media (max-width: 320px) {
  .two-img__one {
    max-width: 280px;
  }

  .footer p {
    font-size: 17px;
  }
  .footer li {
    font-size: 17px;
  }
}
/* phones smaller */
@media (max-width: 280px) {
  .chars-sub1 {
    padding: 58px 30px;
  }
  .chars-sub2 {
    padding: 58px 30px;
  }
  .chars-sub3 {
    padding: 58px 30px;
  }
  .chars-block {
    height: 138px;
  }

  .first-img {
    max-width: 200px;
  }

  .two-img {
    max-width: 230px;
  }
  .two-img__one {
    max-width: 250px;
  }
}/*# sourceMappingURL=adapts.css.map */