@media (max-width:1620px) {
    .footer {
        &-items {
            margin-left: 40%;
        }

        &-sub {
            width: 700px;
        }
    }
}

/* Large desktops and laptops */
@media (max-width: 1440px) {
    .menu {
        img {
            width: 57px;
            height: 36px;
        }

        &-items {
            li {
                font-size: 18px;
                margin-bottom: 0;
            }
        }
    }


    .first-img {
        margin: 28px auto 70px auto;
        max-width: 200px;
        height: 407px;
    }

    .two-img {
        margin: 32px auto 78px auto;
        max-width: 300px;
        height: 400px;

        &__one {
            margin: 62px auto 48px auto;
            max-width: 320px;
            height: 400px;
        }
    }

    .footer {
        &-items {
            margin-left: 30%;
        }

        &-sub {
            width: 500px;
        }
    }
}


@media (max-width:1281px) {
    .footer-items {
        margin-left: 10%;
    }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1250px) {
    .chars {
        display: block;

        &-sub1 {
            width: 100%;
            padding: 58px 0 0 0;
        }

        &-sub2 {
            width: 100%;
            padding: 58px 0 0 0;
        }

        &-sub3 {
            width: 100%;
            padding: 58px 0 0 0;
        }
    }

    .join-text {
        width: 88%;
    }
}


@media (max-width:1130px) {
    .footer {
        height: 227px;

        &-sub {
            display: block;
            width: 365px;
        }

        &-items {
            margin-left: 25%;
        }
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .menu {
        ul {
            display: none;
        }

        .btn-menu {
            display: block;
        }
    }

    .footer-email {
        margin-left: 0;
    }

    .chars {
        h3 {
            font-size: 30px;
        }

        .icon-Vector-1 {
            margin: 8px 0 0 7px;

            &::before {
                font-size: 20px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 868px) {
    .footer {
        width: 100%;

        &-email {
            margin-top: 80px;
        }

        &-items {
            margin-left: 0;
        }
    }
}

@media (max-width: 557px) {
    .footer-email {
        position: relative;
        left: -150px;
    }

    .join-team {
        display: block;

        a {
            font-size: 25px;
        }
    }
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
    .header {
        height: 550px;
    }

    .join {
        &-text {
            height: 300px;

            h1 {
                font-size: 51px;
            }
        }

        &-team a {
            margin-right: 0;
        }

        h3 {
            font-size: 27px;
        }

        .icon-Vector-1 {
            &::before {
                font-size: 20px;
            }
        }
    }

    .create {
        height: 550px;

        p {
            width: 88%;
            margin-bottom: 150px;
            font-size: 22px;
        }

        h3 {
            font-size: 30px;
        }

        .icon-Vector-1 {
            margin: 8px 0 0 7px;

            &::before {
                font-size: 20px;
            }
        }
    }

    .footer {
        padding-top: 38px;
    }
}

@media (max-width:375px) {
    .footer {
        p {
            font-size: 18px;
        }

        &-email {
            left: -190px;
        }
    }

    .first-img {
        max-width: 200px;
    }

    .two-img {
        max-width: 280px;

        &__one {
            max-width: 280px;
        }
    }
}

@media (max-width:360px) {
    .join {
        h3 {
            font-size: 23px;
        }

        .icon-Vector-1 {
            margin: -1px 0 0 7px;

            &::before {
                font-size: 17px;
            }
        }
    }

    .create p {
        margin-bottom: 130px;
    }
}

@media (max-width:320px) {
    .footer {
        p {
            font-size: 17px;
        }

        li {
            font-size: 17px;
        }
    }

    .join-text h1 {
        font-size: 44px;
    }
}

/* phones smaller */
@media (max-width: 280px) {
    .chars {
        &-block {
            height: 158px;
        }
    }

    .join {
        h3 {
            font-size: 22px;
        }

        .icon-Vector-1 {
            margin: -2px 0 0 7px;

            &::before {
                font-size: 17px;
            }
        }
    }
}