@import "keyframes";
@import "vars";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "../icomoon/style.css";


::-webkit-scrollbar {
    width: 0.78vw;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 81%);
    border-radius: 1.17vw;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: rgb(92, 88, 88);
        transition: color 0.3s ease;
    }

    &:hover [class*="icon-"]::before {
        color: rgb(92, 88, 88);
        transition: color 0.3s ease;
    }
}

body {
    overflow-x: hidden;
    font-size: 16px;
    color: white;
    font-family: "roboto";
}

a,
p,
h1,
h4,
li,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: $fw-normal;
}

.icon-Vector-1 {
    margin: 3px 0 0 7px;

    &::before {
        font-size: 15px;
    }
}