@import "keyframes";
@import "vars";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "../icomoon/style.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.78vw;
    background-color: #424242;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 1.17vw;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color: rgb(92, 88, 88);
        transition: color 0.3s ease;
    }

    &:hover [class*="icon-"]::before {
        color: rgb(92, 88, 88);
        transition: color 0.3s ease;
    }
}

body {
    font-size: 16px;
    color: white;
    height: 100%;
    width: 100%;
    font-family: "roboto";
}

._lock {
    position: relative;
    overflow: hidden;
}

a,
p,
h1,
h4,
li,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: $fw-normal;
}

.icon-Vector-1 {
    margin: 3px 0 0 7px;

    &::before {
        font-size: 15px;
    }
}

.inner {
    width: 93%;
    margin: 0 auto;
}

.clue {
    position: relative;
    text-align: center;
    user-select: none;
    display: inline-block;

    &::before {
        content: attr(data-clue);
        position: absolute;
        left: 100%;
        transform: translateX(-50%);
        top: 100%;
        width: 100%;
        background-color: #424242;
        padding: 0 6px;
        color: white;
        transition: inherit;
        visibility: hidden;
        z-index: -1;
        font-size: 16px;
        opacity: 0;
        border: 1px solid #2e2e2e;
    }

    &:hover {
        &::before {
            animation: clue 1s ease;
            visibility: visible;
            z-index: 10;
            opacity: 1;
            top: calc(100% + 5px);
            text-transform: lowercase;
        }
    }
}